*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header{
    background-image: url(../img/ugm.png);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
}

.logo img{
    float: left;
    width: 120px;
    height: auto;
    margin-top: 30px;
    margin-left: 30px;
}

.navbar ul{
    float: right;
    list-style-type: none;
    margin-top: 45px;
    margin-right: 30px;
}

.navbar ul li{
    display: inline-block;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    transition: 0.3s ease;
    font-size: 14pt;
}

.navbar ul li a:hover{
    background-color: white;
    color: black;
    opacity: 50%;
    opacity: 0.6;
}

.welcome img{
    width: 730px;
    margin-top: 120px;
}

.curhat{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.navbar .curhat .button{
    border: 3px solid white;
    padding: 5px 30px;
    color: white;
    text-decoration: none;
    text-decoration: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16pt;
    font-weight: 550;
}

.navbar .curhat .button:hover{
    background-color: white;
    opacity: 0.6;
    color: black;
    transition: 0.2s ease;
}

.unek-unek-viral{
    width: 100%;
    padding: 30px 0 72px 0;
    background-color: white;
    float: left;
    clear: both;
    margin-left: 40px;
    margin-right: 40px;
}

.unek-unek-viral .heading h2{
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 50px;
    letter-spacing: 0.5px;
    text-align: center;
    color: #293545;
}

.unek-unek-viral .col-1{
    width: 31%;
    float: left;
    padding-right: 15px;
}

.unek-unek-viral .col-1 .icon img{
    float: left;
    width: 42px;
    margin: 0 10px 0 0;
}

.unek-unek-viral h5{
    text-align: right;
    padding-right: 30px;
}